<h1>{{title}}</h1>
<nav> 
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<mat-card class="herocard">
    <mat-card-header>
        <mat-card-title>Son Goku</mat-card-title>
        <mat-card-subtitle>Best Warrior</mat-card-subtitle>
        <img mat-card-avatar src="../assets/Son_Goku_Avatar.png">
    </mat-card-header>

    <mat-card-content>
        <img mat-card-image src="../assets/Son_Goku.jpg">
    </mat-card-content>
    <mat-card-footer>
        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button>Cancel</button>
    </mat-card-footer>
</mat-card>